/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
  background-color: #E8E8E8;
}


  .field-label-responsive {
    padding-top: .5rem;
    text-align: right;
  }

.jumbotron {
  background: linear-gradient(rgba(25,25,25,0.6),rgba(25,25,25,0.6)),url('/assets/images/home-hero.jpg');
  color: white;
}

body.searchPage{
  background-color: #eee;
}

.result{
  background-color: white;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  margin: 12px;
}
.result .col-2{
  padding-left: 0px;
}
.result div{
  display: block;
}
.result>.column{
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

.result .title{
  font: bold 18pt arial;
  color: #666;
}
.result img{
  height: 150px;
}

.result .released{
  font: normal 8pt arial;
}

.result .released::before{
  content: '\1F4C5';
  margin-right: 3px;
}

.nav-user{margin: 0px 8px;}
.nav-user>i{
  font-size: 24pt;
  color: #28a745;
}
.nav-user>a{
  color: rgba(255,255,255,0.5);
  line-height: 20px;
  vertical-align: super;
}

.service-image{
  margin: 5px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.12), 0 5px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.service-image.notSubscribed>img{
  filter: grayscale(100%);
  opacity: 0.25;
}

.service-image:hover{
  box-shadow: 1px 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}