@(movieData: com.fasterxml.jackson.databind.JsonNode )

@import views.html.templates.secondary

@secondary("Screen Buddy")("searchPage") {
    <h1>Search Results</h1>

    <pre>
        @movieData.asText()
    </pre>

    <div class="results">

        <div class="result">
            <div class="column">
                <div class="image">
                    <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/imekS7f1OuHyUP2LAiTEM0zBzUz.jpg"/>
                </div>
            </div>
            <div class="column">
                <div class="title">Wonder Woman</div>
                <div class="released">6-27-2017</div>
                <div class="description">
                    An Amazon princess comes to the world of Man to become the greatest of the female superheroes.
                </div>
            </div>
        </div>

        <div class="result">
            <div class="column">
                <div class="image">
                    <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/imekS7f1OuHyUP2LAiTEM0zBzUz.jpg"/>
                </div>
            </div>
            <div class="column">
                <div class="title">Wonder Woman</div>
                <div class="released">6-27-2017</div>
                <div class="description">
                    An Amazon princess comes to the world of Man to become the greatest of the female superheroes.
                </div>
            </div>
        </div>

        <div class="result">
            <div class="column">
                <div class="image">
                    <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/imekS7f1OuHyUP2LAiTEM0zBzUz.jpg"/>
                </div>
            </div>
            <div class="column">
                <div class="title">Wonder Woman</div>
                <div class="released">6-27-2017</div>
                <div class="description">
                    An Amazon princess comes to the world of Man to become the greatest of the female superheroes.
                </div>
            </div>
        </div>

        <div class="result">
            <div class="column">
                <div class="image">
                    <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/imekS7f1OuHyUP2LAiTEM0zBzUz.jpg"/>
                </div>
            </div>
            <div class="column">
                <div class="title">Wonder Woman</div>
                <div class="released">6-27-2017</div>
                <div class="description">
                    An Amazon princess comes to the world of Man to become the greatest of the female superheroes.
                </div>
            </div>
        </div>

    </div>

}