@(userData: List[User])(user: User)(services : List[com.fasterxml.jackson.databind.node.ObjectNode])
@import views.html.templates.secondary


@secondary("Account")("account")(user.name){
    <div class="container">
        <div class="row">
            <br/>
        </div>

        <div class="row">
            <div class="col-md-8">
                <h1>
                    <i class="fa fa-user-o"></i> @user.name
                </h1>
                <p><i class="fa fa-envelope-o"></i> @user.email</p>
                <p>
                    <a href="/changepass">Change password</a> |
                    <a href="/logout">Logout</a>
                </p>
            </div>
            <div class="col-md-4">
                <h3><i class="fa fa-play-circle-o"></i> Requested Movies</h3>
                <hr>
                <ul style="list-style: none">
                @for(request <- userData.get(0).requests){
                    <li style="margin-bottom:5px;">
                        <a href="/movie/@request.title.tmdbId">
                            <img height= "75" src="//image.tmdb.org/t/p/w92/@request.title.posterPath"/>
                            <div style="display:inline-block; vertical-align: middle" >
                                <h5>@request.title.originalTitle</h5>
                                @request.title.status @request.title.releaseYear<br/>
                                Average vote: @request.title.voteAverage
                            </div>
                        </a>
                    </li>
                }
                </ul>
            </div>
        </div>

        <div class="row">
            <h3>
                <i class="fa fa-cogs"></i> Services
            </h3>
        </div>
        <div class="row services">
            @for(service <- services){
                <a class='service-image @service.get("subscribed").asText()' href="#" serviceName="@service.get("name")" serviceId="@service.get("id")" onclick="toggleService(this)">
                    <img src="/assets/images/services/@service.get("logo").asText()"/>
                </a>
            }
        </div>
    </div>

    <script>
        var userId = @user.id;
        function toggleService(control){
            // organize data
            var $control = $(control),
                action = $control.hasClass('notSubscribed')? "add" : "remove",
                service = $control.attr("serviceName"),
                serviceId = $control.attr("serviceId");

            // ajax call to update the database.
            $.post("/account/serviceChange", {serviceId: serviceId, userId: userId, action: action})
                    .done(function(){
                        if(action == "add"){
                            $control.removeClass('notSubscribed');
                            toastr["info"]("Added " + service + " to your subscriptions", "Added")
                        }else{
                            $control.addClass('notSubscribed');
                            toastr["info"]("Removed " + service + " to your subscriptions", "Removed")
                        }
                    })
                    .fail( function(xhr, textStatus, errorThrown) {
                        toastr["error"](errorThrown);
                    })
        }

    </script>

}
