@()
@import views.html.templates.secondary

@secondary("Screen Buddy")("searchPage") {
    <h1>hello world</h1>

    <div class="result">&nbsp;</div>


    <script type="text/javascript">
            $(document).ready(function(){
                var url = 'https://api.themoviedb.org/3/movie/550?api_key=274472d0b063eec06615cfed6a703b95';
                $.get( url, function( data ) {
                    console.log(JSON.stringify(data));
                    $( ".result" ).html( data );
                    alert( data.imdb_id);
                });
            })
    </script>
}